<% if member_signed_in? %>
      <%= render 'form' %>
    <% end %>
        <% @posts.each do |post| %>
          <% if member_signed_in? %>
         <p class="fw-bold">
         <%= post.member.name %>
         </p>
         <% else %>
          <p class="fw-bold">Anonymous Member</p>
        <% end %>
          <p>
            <%= post.body %>
          </p>
        <% end %>