<div class="container">
  <div class="row" >

    <div class=" col-md-4">
        <h2>latest Updates</h2>
    </div>

    <div class=" col-md-4">
        <h2>Member Posts</h2>
        <% if member_signed_in? %>
          <%= render 'form' %>
        <% end %>
        <% @posts.each do |post| %>
        <% if member_signed_in? %>
       <p class="fw-bold">
          <%= post.member.name %>
       </p> 
        <% end %>
          <p>
            <%= post.body %>
          </p>
        <% end %>
    </div>

    <div class=" col-md-4">
      <h2>Why Join Our Club</h2>
    </div>

  </div>
</div>