<div class="container">
  <div class="row" >

    <div class=" col-md-4">
        <h2>latest Updates</h2>
    </div>

    <div class=" col-md-4">
        <h2>Member Posts</h2>
     <%= render 'member-post' %>
    </div>

    <div class=" col-md-4">
      <h2>Why Join Our Club</h2>
    </div>

  </div>
</div>